---
import { getCollection } from "astro:content";
import Link from "./parts/Link.astro";

const blogs = await getCollection("blogs");
---

<div class="max-laptop:pt-8">
  <Link href="/blogs" text="Latest Posts" />
  {
    blogs.slice(0, 3).map(({ data, id }) => (
      <div class="mt-5 space-y-2">
        <a
          href={`blog/${id}`}
          class="cursor-pointer max-w-fit text-secondary transition text-2xl"
        >
          &rarr; {data.title}
        </a>
        <div class="flex gap-3 items-center">
          <p class="text-sm">{data.date}</p>
          {data.tags.map((t) => (
            <p class="bg-secondary rounded-lg p-1 min-w-15 text-center text-white text-xs">
              {t}
            </p>
          ))}
        </div>
        <p class="text-xl">{data.blurb}</p>
      </div>
    ))
  }
</div>
